<script setup lang="ts">
import Todos from '@/components/Todos.vue';
</script>

<template>
  <Todos />
</template>

<style>
* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  min-height: 100vh;
  min-height: 100rvh;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

#app {
  margin: 0 auto;
  padding: 2em;
  max-width: 60em;
}
</style>
