<script setup lang="ts">
defineProps<{ modelValue: string }>();
defineEmits<{ (event: 'update:modelValue', value: string): void }>();
</script>

<template>
  <input
    :value="modelValue"
    class="py-2 px-4 text-gray-500 border rounded-md outline-none bg-gray-50 focus:bg-white focus:border-indigo-600"
    @input="$emit('update:modelValue', $event?.currentTarget?.value)"
  />
</template>
