<script setup lang="ts">
import { computed, ref } from 'vue';
import { useMutation, useQuery, useSubscription } from '@urql/vue';
import TodoFilter from '@/components/TodoFilter.vue';
import TodoForm from '@/components/TodoForm.vue';
import TodoItem from '@/components/TodoItem.vue';
import {
  type TagColor,
  TodoCreatedDocument,
  TodoCreateDocument,
  TodoDeletedDocument,
  TodoDeleteDocument,
  type TodoInput,
  TodosDocument,
  TodoUpdatedDocument,
  TodoUpdateDocument,
} from '@/generated/graphql';

const tag = ref<TagColor | null>(null);

const { data: todosData } = useQuery({ query: TodosDocument });

const { executeMutation: todoCreateMutation } = useMutation(TodoCreateDocument);
const { executeMutation: todoUpdateMutation } = useMutation(TodoUpdateDocument);
const { executeMutation: todoDeleteMutation } = useMutation(TodoDeleteDocument);

useSubscription({ query: TodoCreatedDocument });
useSubscription({ query: TodoUpdatedDocument });
useSubscription({ query: TodoDeletedDocument });

const todos = computed(() => {
  const list = todosData.value?.todos ?? [];
  if (!tag.value) return list;
  return list.filter((todo) => todo.tag === tag.value);
});

const createTodo = async (todo: TodoInput) => {
  await todoCreateMutation({ todo });
};

const updateTodo = async (id: string, todo: TodoInput) => {
  await todoUpdateMutation({ id, todo });
};

const toggleTodo = async (id: string, completed: boolean) => {
  await todoUpdateMutation({ id, todo: { completed: !completed } });
};

const deleteTodo = async (id: string) => {
  await todoDeleteMutation({ id });
};
</script>

<template>
  <TodoForm @submit="createTodo" />

  <TodoFilter v-model="tag" class="my-8" />

  <TodoItem
    v-for="todo in todos"
    :key="todo.id"
    :todo="todo"
    @change="updateTodo"
    @toggle="toggleTodo"
    @delete="deleteTodo"
  />
</template>
