<script setup lang="ts">
import { computed, ref } from 'vue';
import AppButton from '@/components/AppButton.vue';
import AppInput from '@/components/AppInput.vue';
import AppSelect from '@/components/AppSelect.vue';
import { TAG_COLOR_VALUES } from '@/utils/constants';
import type { TagColor, TodoInput } from '@/generated/graphql';

const emit = defineEmits<{
  (event: 'submit', newTodo: TodoInput): void;
}>();

const tags = computed(() => [null, ...TAG_COLOR_VALUES]);

const initialTodo = { name: '', tag: null as TagColor | null };

const newTodo = ref({ ...initialTodo });

const reset = () => (newTodo.value.name = initialTodo.name);

const saveTodo = () => {
  if (!newTodo.value.name) return;

  emit('submit', {
    name: newTodo.value.name,
    tag: newTodo.value.tag,
  });

  reset();
};
</script>

<template>
  <form @submit.prevent="saveTodo">
    <h3>Add Todo</h3>

    <div class="flex items-center gap-2">
      <AppInput v-model.trim="newTodo.name" placeholder="Add New Todo" />

      <AppSelect v-model="newTodo.tag">
        <option v-for="tag in tags" :key="tag ?? 'empty'" :value="tag">
          {{ tag }}
        </option>
      </AppSelect>

      <AppButton type="submit">Add Todo</AppButton>
    </div>
  </form>
</template>
