<script setup lang="ts">
import { computed } from 'vue';
import AppButton from '@/components/AppButton.vue';
import { TAG_COLOR_VALUES } from '@/utils/constants';
import type { TagColor } from '@/generated/graphql';

defineProps<{
  modelValue: TagColor | null;
}>();

const emit = defineEmits<{
  (event: 'update:modelValue', tag: TagColor | null): void;
}>();

const tags = computed(() => [null, ...TAG_COLOR_VALUES]);
</script>

<template>
  <div class="">
    <h3>Filter Todos</h3>

    <div class="flex flex-wrap gap-2">
      <AppButton
        v-for="tag in tags"
        :key="tag ?? 'ALL'"
        :disabled="tag === modelValue"
        type="button"
        @click="emit('update:modelValue', tag)"
      >
        {{ tag ?? 'ALL' }}
      </AppButton>
    </div>
  </div>
</template>
