<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import AppButton from '@/components/AppButton.vue';
import AppInput from '@/components/AppInput.vue';
import type { TodoInfoFragment, TodoInput } from '@/generated/graphql';

const props = defineProps<{
  todo: TodoInfoFragment;
}>();

const emit = defineEmits<{
  (event: 'change', id: string, todo: TodoInput): void;
  (event: 'toggle', id: string, completed: boolean): void;
  (event: 'delete', id: string): void;
}>();

const name = ref(props.todo.name ?? '');

const changeName = () => emit('change', props.todo.id, { name: name.value });

const completed = computed(() => props.todo.completed);

watch(
  () => props.todo.name,
  (value) => (name.value = value)
);
</script>

<template>
  <div
    class="grid grid-cols-[min-content_4rem_1fr_min-content_min-content] items-center gap-4 p-3 shadow-md rounded-md duration-300"
  >
    <div
      :class="{
        'i-mdi-checkbox-blank-outline': !completed,
        'i-mdi-checkbox-marked': completed,
      }"
      class="text-3xl"
    />

    <div>
      {{ todo.tag }}
    </div>

    <form @submit.prevent="changeName">
      <AppInput v-model.trim="name" :disabled="completed" @input="changeName" />
    </form>

    <AppButton
      type="button"
      class="bg-blue-500 text-white"
      @click="$emit('toggle', todo.id, completed)"
    >
      <template v-if="completed">Edit</template>
      <template v-else>Done</template>
    </AppButton>

    <AppButton
      type="button"
      class="bg-red text-white"
      @click="$emit('delete', todo.id)"
    >
      Delete
    </AppButton>
  </div>
</template>
